[Desktop Entry]
Name=Sharper Integration
GenericName=AppImage Desktop Integration
Comment=Sharper Integration integrates your apps into your Linux desktop.
Exec=SharperIntegration %F
TryExec=SharperIntegration
Icon=sharper-integration
Terminal=false
Type=Application
MimeType=application/vnd.appimage;
Categories=Utility;System;
Keywords=AppImage;Integration;Desktop
