name: Build

on:
  push:
    branches: [ "main" ]
    tags:
      - '**'

jobs:

  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ARCH: [ 'x86_64' ]

    steps:
    - uses: actions/checkout@v1
    - name: Build and test SharperAppImages
      run: sh build.sh

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        # Artifact name
        name: Sharper_Integration-${{ matrix.ARCH }}.build
        path: _out/

  upload:
    name: Create release and upload artifacts
    needs:
      - build
    runs-on: ubuntu-22.04
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
      - name: Inspect directory after downloading artifacts
        run: ls -alFR
      - name: Create release and upload artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          wget -q https://github.com/TheAssassin/pyuploadtool/releases/download/continuous/pyuploadtool-x86_64.AppImage
          chmod +x pyuploadtool-x86_64.AppImage
          ./pyuploadtool-x86_64.AppImage **/Sharper_Integration*.AppImage
